* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (min-width: 493px) {
  /* ------------------dialog-contact----------------- */
  .contact-container {
    height: 235px;
  }
  .contact-informations ol {
    justify-content: space-between;
  }
  .contact-informations {
    gap: 20px;
  }
  .contact-informations ol li:first-child {
    align-items: start;
  }
}
