* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  /* ------------------search-contact----------------- */
  .search-container {
    width: 700px;
  }
  .informations {
    flex-direction: unset;
    justify-content: space-between;
    align-items: start;
  }
  .catalogHeaderText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    border: none;
    background-color: transparent;
  }
  .searchElementMobileFormat {
    display: none;
  }
  /* ----------------main---------------- */
  .furniture-catalog li:hover {
    transform: scale(1.1);
  }
  .furniture-catalog li div:hover .searchContainer {
    display: flex;
    animation: slideDown 0.5s ease forwards;
  }
}
